:root {
  --gray-100: #262626;
  --accent: #d11f3e;
}

html {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  line-height: 1.2;
}

body {
  color: var(--gray-100);
}

p,
a {
  letter-spacing: -0.32px;
}

h1 {
  font-size: 5.625rem;
  text-align: center;
  font-weight: 400;
  letter-spacing: -3.6px;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--gray-100);
  text-decoration: none;
  font-weight: 700;
  transition: 0.2s ease-in-out;
}

.button:hover {
  gap: 1rem;
  color: var(--gray-100);
}

.button:hover svg {
  fill: var(--gray-100);
}

.button svg {
  fill: var(--gray-100);
  transition: fill 0.2s ease-in-out;
}

#hero {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header-side-content {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.header-side-content:last-child {
  justify-content: flex-end;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav a {
  text-decoration: none;
  color: var(--gray-100);
  transition: transform 0.2s ease-in-out;
  display: inline-block;
}

nav a:hover {
  transform: translate3d(0.5rem, 0, 0);
}

h1 span {
  background-color: var(--accent);
  color: white;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}
.magneto {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: none;
  background-color: var(--gray-100);
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
